*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color:#ff80ff;
}

main{
    background-color: #a81da8;
    width: 500px;
    margin: center;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.349);